html, body, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    overflow: hidden;
    min-width: 400px;
    min-height: 300px;
}

#dialogBox{
    position: absolute;
    top: 80%;
    left: 30%;
    height: 12%;
    width: 40%;
    overflow: auto;
    background-image: url(resource/system/dialog_bg.png);
    font-size: 1.2em;
    color: #410fb8;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 3;
    display: none;
}
#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
}
#loading .loadingImg{
    margin-left: 48%;
    margin-top: 21%;
}
#loading .loadingText{
    margin-left: 48%;
    margin-top: 5%;
    color: #fff;
    font-size: 23px;
}

#intro{
    position: absolute;
    background-image: url(resource/system/intro/intro.jpg);
    background-size: auto 100%;
    background-position: 100% 0;
    width: 100%;
    height: 100%;
    display: none;
}

#mainMenu{
    position: absolute;
    background-image: url(resource/system/mainMenu/bg.png);
    background-size: auto 100%; 
    width: 100%;
    height: 100%;
    display: none;
}
#menuLogo{
    position: absolute;
    left: 10%;
    top: 8%;
    width: 25%;
}
#menuRecord{
    position: absolute;
    left: 12%;
    top: 32%;
    width: 15%;
}

#menuStart{
    position: absolute;
    left: 12%;
    top: 43%;
    width: 15%;
}

#menuInfo{
    position: absolute;
    left: 12%;
    top: 54%;
    width: 15%;
}

#menuExit{
    position: absolute;
    left: 12%;
    top: 65%;
    width: 15%;
}
#menuIntro{
    position: absolute;
    left: 52%;
    top: 21%;
}


#avatar{
    position: absolute;
    left: 0px;
    top: 2px;
    display: none;
}
#avatar .frame{
    width: 210px;
}
#avatarImg{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 18px;
    top: 13px;
}
.rank{
    color: #B35AC9;
    position: absolute;
    left: 88px;
    top: 65px;
}
.coin{
    color: #B5AD18;
    position: absolute;
    left: 120px;
    top: 18px;
}
.HP{
    height: 6px;
    width: 9px;
    background-color: #EE4242;
    position: absolute;
    left: 93px;
    top: 39px;
    border-radius: 2px;

}
.MP{
    height: 6px;
    width: 9px;
    background-color: #3737EC;
    position: absolute;
    left: 93px;
    top: 46px;
    border-radius: 2px;
}
.EXP{
    height: 6px;
    width: 9px;
    background-color: #42F742;
    position: absolute;
    left: 93px;
    top: 53px;
    border-radius: 2px;
}

#sysMenu{
    position: absolute;
    background-image: url(resource/system/sys_bg.png);
    background-size: auto 100%;
    width: 100%;
    height: 100%;
    display: none;
}
#sysMenu #nav{
    height: 100%;
    width: 15%;
    float: right;
    padding-right: 11%;

}

#roleData{
    position: absolute;
    width: 75%;
    height: 100%;
    display: none;
}
#roleData .roleInfo{
    position: absolute;
    left: 71px;
    top: 232px;
}
#roleData .roleFigure{
    position: absolute;
    left: 34%;
    top: 10%;
}
#equip{
    position: absolute;
    width: 75%;
    height: 100%;
    display: none;
}
.usedEquip{
    width: 220px;
    height: 120px;
    position: absolute;
    left: 440px;
    top: 545px;
}
#goods{
    position: absolute;
    width: 75%;
    height: 100%;
    display: none;
}
.desp{
    background-image: url(resource/system/goods/desp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 90%;
    position: absolute;
    left: 55px;
    top: 50px;
}
.icon{
    width: 120px;
    height: 120px;
    margin-left: 90px;
    margin-top: 90px;
}
.detail{
    width: 210px;
    height: 80px;
    margin-left: 45px;
    margin-top: 130px;
    text-align: center;
    padding-top: 22px;
    color: #8f23d6;
}
.listDiv{
    background-image: url(resource/system/goods/list.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 250px;
    height: 90%;
    position: absolute;
    left: 440px;
    top: 45px;
}
.list{
    width: 188px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 17px;
    top: 30px;
    padding: 10px;
}
li{
  list-style-type: none;
  background-image: url(resource/system/goods/item.png);
  background-size: auto 100%; 
  background-repeat: no-repeat;
  height: 30px;
  padding-top: 12px;
}
li.head{
  font-size: 16px;
  font-weight: bold;
}
li span{
  margin-right: 9px;
  display: inline-block;
  width: 50px;
  text-align: center;
}


#record{
    background-image: url(resource/system/record/bg.png);
    background-size: auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow: hidden;
}
#record .head img{
    margin-left: 23%;
    margin-top: 40px;
    width: 90px;
}
#record .frame{
    width: 76%;
    position: absolute;
    left: 10%;
    top: 85px;
}

#record .list{
    width: 70%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 15%;
    top: 136px;
}
#record .recordItem{
  width: 90%;
  height: 100px;
  background-image: url(resource/system/record/item.png);
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  padding-top: 12px;

}
#record .recordNum{
    width: 30px;
    float: left;
    padding-left: 33px;
    padding-top: 40px;
    font-weight: bold;
    color: #00f;
}
#record .recordMapName{
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 25px;
}

#record .recordTime{
}


#tips {
    position: absolute;
    /*display: none;*/
}
#gainTips{
    width: 200px;
    border: 1.5px solid #439467;
    position: absolute;
    top: 230px;
    left: 380px;
    padding: 22px;
    color: #6161D8;
    font-size: 22px;
    font-weight: bold;
    background-image: url(resource/bg/bg_gray.jpg);
    opacity: 0;
    display: none;
}

#battle{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
#battle .ratingBar{
    width: 200px;
    height: 30px;
    background-color: #0f0;
    margin-left: 76%;
    margin-top: 3%;
}
#battle .operation{
    width: 200px;
    height: 140px;
    background-color: #0f0;
    margin-left: 76%;
    margin-top: 23%;
    display: none;
}
#battle .ratingDiv{
    width: 14px;
    height: 14px;
    background-color: #30a;
    margin-top: 1px;
}

#gameOver{
    background-image: url(resource/system/gameover.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}